*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --custom-color: #f78065;
  --subtle-text-color: #474646d6;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  width: 1000px;
  margin: auto;
}

/* ------------header region  */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 33rem;
}

.header__homebtn-icon {
  color: whitesmoke;
  transform: scale(1.5);
}

.header__member-menu {
  background-color: whitesmoke;
  border-radius: 42%;
  padding: 1.1em 1em 1.1em 0.4em;
  border: none;
  display: flex;
  gap: 3px;
}

.header__member-iconArrow {
  color: var(--subtle-text-color);
}
.header__member-iconPerson {
  transform: scale(1.3);
  color: white;
  background-color: var(--custom-color);
  border-radius: 50%;
}
/* -------------hero region  */
.hero {
  width: 100%;
}

.hero__image {
  width: 100%;
  position: relative;
}

.hero__textcontent {
  position: absolute;
  bottom: -10.5rem;
  left: 30.2rem;
  width: 28%;
  background-color: white;
  box-shadow: 0 20px 10px rgba(215, 214, 214, 0.749);
  padding: 2em 7em 3.4em 2.8em;
}

.hero__headline {
  font-size: 1.8rem;
}
.hero__headline-span {
  color: var(--custom-color);
}

.hero__para {
  text-shadow: 1px 1px 3px rgb(181, 181, 181);
  color: var(--subtle-text-color);
  margin-bottom: 1.5em;
}

.hero__btn {
  border: none;
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.383);
  background-color: var(--custom-color);
  padding: 1em 4em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: whitesmoke;
  font-weight: bold;
}

.hero__btn-image {
  width: 1.3em;
}

/* -----------services region  */

.services {
  display: flex;
  margin-top: 20rem;
}

/* -------facilities region  */
.facilities__list-container {
  display: flex;
}
